#mapping different usernames to the same account
Andrea Santarsiero <andreasantarsiero03@gmail.com> andreasantarsiero
Andrea Santarsiero <andreasantarsiero03@gmail.com> AndreaSantarsiero
Andrea Santarsiero <andreasantarsiero03@gmail.com> "Andrea Santarsiero"

#other accounts without this problem
Andrea Pianini <andrea.pianini@mail.polimi.it>
Luca Sartori <luca.sartori1@outlook.com>
lorenzostani <lorenzo.stani.03@gmail.com>
