#mapping different usernames to the same account
Andrea Santarsiero <andreasantarsiero03@gmail.com> AndreaSantarsiero <andreasantarsiero03@gmail.com>
Andrea Santarsiero <andreasantarsiero03@gmail.com> andreasantarsiero <andrea@aka-Slayer>
Andrea Santarsiero <andreasantarsiero03@gmail.com> "Andrea Santarsiero" <andreasantarsiero03@gmail.com>

#other accounts without this problem
Andrea Pianini <andrea.pianini@mail.polimi.it>
Luca Sartori <luca.sartori1@outlook.com>
lorenzostani <lorenzo.stani.03@gmail.com>
